@import '../../../styles.scss';

.details-box-container {
  width: 100%;
  border-radius: 20px;
  margin-top: 22px;
  background-color: white;
  padding: 34px 28px 30px;
  font-size: 16px;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 34px 28px 46px 40px;
  }

  @media screen and (min-width: $breakpoint-large) {
    padding: 34px 28px 50px 50px;
  }
}
