@import '../../../styles.scss';

.row--padding {
  padding-top: 5px;

  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 28px;
  }

  @media screen and (min-width: $breakpoint-large) {
    padding-top: 24px;
  }
}
