/* variables */
$breakpoint-large: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
$font-main-color: #848383;
$font-light-color: #b7b7b7;
$background-color: rgba(249, 249, 249, 1);
$shadow: 0px 0px 43px -1px rgba(30, 30, 30, 0.46);

/* global styles */
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, 'Source Sans Pro', 'Trebuchet MS';
  font-size: 14px;
  color: $font-main-color;
  background-color: rgba(249, 249, 249, 1);
  margin: 0;
  padding: 0;
}
