/* variables */
$breakpoint-large: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
$font-main-color: #848383;

/* global styles */
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', Arial;
  font-size: 14px;
  color: $font-main-color;
  background-color: rgba(249, 249, 249, 1);
  margin: 0;
  padding: 0;
}
