<section class="filters-container" [formGroup]="startSearchForm">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-3 mb-3">
      <label for="flightName">Nazwa lotu</label>
      <input
        class="form-control filters-property"
        id="flightName"
        placeholder="Wpisz nazwę"
        formControlName="startName"
      />
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-3">
      <label for="flightDate">Data lotu</label>
      <input
        placeholder="RRRR/MM/DD - RRRR/MM/DD"
        class="form-control filters-property"
        bsDaterangepicker
        [bsConfig]="{
          rangeInputFormat: 'YYYY/MM/DD',
          dateInputFormat: 'YYYY/MM/DD',
          isAnimated: true
        }"
        formControlName="startDate"
      />
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-3">
      <div class="form-check filters-property--checkbox-content">
        <input
          class="form-check-input filters-property--checkbox"
          type="checkbox"
          value=""
          id="isSuccessful"
          formControlName="isSuccessfulFlight"
        />
        <label class="form-check-label" for="isSuccessful">
          Pokaż tylko udane loty
        </label>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-2">
      <button
        type="button"
        class="btn btn-primary filters-property filters-property__button"
        (click)="applyFilters()"
      >
        szukaj
      </button>
    </div>
  </div>
  <hr class="filters-line" />
</section>
