@import '../../../styles.scss';

.filters {
  &-container {
    width: 100%;
    padding: 18px 0 0;
  }

  &-property {
    height: 40px;
    padding: 2px 2px 2px 20px;
    font-size: 13px;

    &--checkbox-content {
      display: flex;
      align-items: center;
      margin: 6px 0;

      @media screen and (min-width: $breakpoint-large) {
        margin-top: 26px;
      }
    }

    &--checkbox {
      width: 24px;
      height: 24px;
      margin-right: 18px;

      &:focus {
        box-shadow: none;
      }
    }

    &__button {
      width: 100%;
      padding: 0;
      border-color: rgba(48, 194, 213, 1);
      background-color: rgba(48, 194, 213, 1);

      @media screen and (min-width: $breakpoint-large) {
        margin-top: 18px;
      }
    }

    .field-align {
      display: flex;
      align-items: center;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &-line {
    border: 1px solid $font-main-color;

    @media screen and (min-width: $breakpoint-tablet) {
      margin: 0;
    }
  }
}
